@keyframes navResponsiveAnimation{
    0%{
        height: 8vh;
    }

    100%{
        height: 20vh;
    }
}

@keyframes navResponsiveIconAnimation{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes formContatoAnimated{
    0%{
        opacity: 0;
        transform: scale(0.6);
    }

    100%{ opacity: 1; transform: scale(1)}
}