@keyframes navResponsiveAnimation{
    0%{
        height: 8vh;
    }

    100%{
        height: 18vh;
    }
}

@keyframes navGoingBack{
    0%{
        height: 18vh;
    }

    100%{
        height: 8vh;
    }
}

@keyframes navResponsiveIconAnimation{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}