:root{
    --color-primary-light: #ac114a;
    --color-primary: #750b32;
    --color-primary-dark: #510722;


    --gray-1: rgb(241, 241, 241);
    --gray-2: rgb(230, 230, 230);
    --gray-3: rgb(218, 218, 218);

    --gray-darker-1: rgb(134, 133, 133);
    --gray-darker-2: rgb(99, 97, 97);
    --gray-darker-3: rgb(61, 60, 60);

    --font-primary: 'Source Sans Pro', sans-serif;
    --font-heading: 'Nunito', sans-serif;
    --font-heading-2: 'Josefin Sans', sans-serif;

}

$bp-largest: 75em;
$bp-900: 56.25em;
$bp-700: 43.75em;
$bp-620: 38.75em;
$bp-500: 31.25em;
$bp-450: 28.125em;
$bp-400: 25em;

*{
    margin: 0;
    padding: 0;
}

*,
::after,
::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;

    @media only screen and (max-width: $bp-largest){
        font-size: 55%; //8.8px
    }

    @media only screen and (max-width: $bp-900){
        font-size: 48%; //7.68px;
    }

    @media only screen and (max-width: $bp-700){
        font-size: 41%; //6.56px;
        .features__btn{
            grid-column: auto;
        }
    }

    @media only screen and (max-width: $bp-620){
        font-size: 36%; //5.76px
        .navbar .nav .nav__item--1, .nav__item--2, .nav__item--3 {
            display: none;
            animation: navResponsiveIconAnimation 1.9s;
            grid-column: 1 / span 2;
        }

        .navbar .nav .nav__item .nav__svg{ width: 3rem;}

        .navbar .nav .nav__item .nav__svg--menu{ 
            display: block;
        }

        .navbar__img{ grid-column: 1 / span 2; }

        #topNav{ animation: navClosingAnimation 1s; }

        .navbar.responsive .nav{ height: 20vh; 
            animation: navResponsiveAnimation 1s;
            transition: all 1s;
            
        }

        .navbar.responsive .nav .nav__item--1{
            grid-row: 2 / 3;
         }

        .navbar.responsive .nav .nav__item--2{
            grid-row: 3 / 4;
         }

         .navbar.responsive .nav .nav__item--3{
            grid-row: 4 / 5;
         }

         .navbar .nav .nav__item--4 { 
            grid-column:  5 / 6;
        }
        .navbar.responsive .nav .nav__item { display: block;}

        .tratamentos__description{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
            grid-gap: 3rem;
        }

        .tratamentos__img{ width: 50rem;}
    }

    @media only screen and (max-width: $bp-500){
        font-size: 30%; //4.8px
        .container-2{
            grid-template-rows: min-content 29vh;
        }
    }

    @media only screen and (max-width: $bp-450){
        font-size: 27%; //4.32px
    }

    @media only screen and( max-width: $bp-400){
        font-size: 23%; //3.68px
        .features{
            grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
        }
    }
}

body{
    font-family: var(--font-primary);
    color: var(--gray-darker-2);
    line-height: 1.6;
    font-weight: 400;
}

//INDEX
.container{
    display: grid;
    grid-template-rows: min-content 100vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];
}

//TRATAMENTOS
.container-2{
    display: grid;
    grid-template-rows: min-content 35vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];
}

//TRATAMENTOS ESPECIFICOS
.container-3{
    display: grid;
    grid-template-rows: min-content 25vh;
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];
}
