%img-before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    opacity: 0;
    transition: all .5s;
}

%imgs{
    background-size: cover;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    transition: all .3s;
    position: relative;
    z-index: 1;
}

%imgs-hover{
    opacity: 1;
    //filter: blur(5px);
    outline: 3px solid white;
        outline-offset: -30px;
}


// END OF EXTENDS - START OF ACTUAL CSS STYLE

.features{
    margin: 12rem 0 ;
    border-radius: .5rem;
    background-color: var(--gray-1);

    grid-row: 4 / 5;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;

}

.feature{
    //border: 2px solid var(--color-primary-dark);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    transition: all .2s;

    &:hover{
        //transform: scale(1.03);
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        grid-row: 1 / 4;
        grid-column: 1 / 3;
        border-radius: .5rem;
        overflow: hidden;
    }

    ////// IMAGES STYLING

    &__img--1{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/depilacao_a_laser.jpg);
    }

    &__img--1::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/depilacao_a_laser.jpg);
    }

    &__img--1:hover::before{
        @extend %imgs-hover;
    }


    &__img--2{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/Carboxiterapia-620x330.jpg);
    }

    &__img--2::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/Carboxiterapia-620x330.jpg);
    }

    &__img--2:hover::before{
        @extend %imgs-hover;
    }


    &__img--3{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/corrente-russa-620x330.jpg);
    }

    &__img--3::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/corrente-russa-620x330.jpg);
    }

    &__img--3:hover::before{
        @extend %imgs-hover;
    }


    &__img--4{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/criolipolise.jpeg);
    }

    &__img--4::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/criolipolise.jpeg);
    }

    &__img--4:hover::before{
        @extend %imgs-hover;
    }


    &__img--5{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/serv_est_drenagemLinfatica.jpg);
    }

    &__img--5::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/serv_est_drenagemLinfatica.jpg);
    }

    &__img--5:hover::before{
        @extend %imgs-hover;
    }


    &__img--6{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/massagem-express.jpg);
    }

    &__img--6::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/massagem-express.jpg);
    }

    &__img--6:hover::before{
        @extend %imgs-hover;
    }


    &__img--7{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/preenchimento.jpg);
    }

    &__img--7::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/preenchimento.jpg);
    }

    &__img--7:hover::before{
        @extend %imgs-hover;
    }


    &__img--8{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/heccus.jpg);
    }

    &__img--8::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/heccus.jpg);
    }

    &__img--8:hover::before{
        @extend %imgs-hover;
    }


    &__img--9{
        @extend %imgs;

        height: 26rem;
        background-image: url(../img/microagulhamento.jpg);
    }

    &__img--9::before{ // keep this effect forever !!!!!
        @extend %img-before;

        background-image: linear-gradient(rgba(blueviolet, .9),
        rgba(blueviolet, .9)) ,url(../img/microagulhamento.jpg);
    }

    &__img--9:hover::before{
        @extend %imgs-hover;

    }

    //// END OF IMAGES STYLING - START OF CAPTION STYLING

    &__heading{
        //align-self: end;
        //grid-column: 1 / 3;
        //grid-row: 3 / 4;
        //background-color: var(--color-primary);
        //text-align: center;
        //padding: .7rem 0;
    }

    &__caption{
        grid-column: 1 / 4;
        grid-row: 3 / 4;

        font-size: 2.4rem;
        color: var(--gray-1);
        font-family: var(--font-primary);
        margin-bottom: 3rem;
        text-align: center;
        opacity: 0;
        backface-visibility: hidden;
        transition: all .3s;
        font-weight: 600;
        z-index: 10;
    }

    &:hover &__caption{
        transform: translate(0, -70px);
        opacity: 1;
    }
}