.gallery{
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    background-color: var(--gray-1);

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem;
    padding: 2rem;

    &__item{
        &--1{
            grid-row: 1 / 3;
            grid-column: 1 / 4;
        }

        &--2{
            grid-row: 3/ 6;
            grid-column: 1 / 3;
        }

        &--3{
            grid-row: 1 / 3;
            grid-column: 6 / 7;
        }

        &--4{
            grid-row: 6 / 8;
            grid-column: 1 / 3;
        }

        &--5{
            grid-row: 1 / 3;
            grid-column: 4 / 6;
        }

        &--6{
            grid-row: 5 / 8;
            grid-column: 7 / 9;
        }

        &--7{
            grid-row: 3 / 8;
            grid-column: 5 / 7;
        }

        &--8{
            grid-row: 1 / 5;
            grid-column: 7 / 9;
        }

        &--9{
            grid-row: 3 / 8;
            grid-column: 3 / span 2;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    background-position: center;
    }

}
