.header{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    //background-color: var(--color-primary);
    //background-image: linear-gradient(rgba(var(--color-primary-dark), .93),
    //rgba(var(--color-primary-dark), .93)), url(../img/wallhaven-731kdv.jpg);

    background-image: linear-gradient(rgba(blueviolet, .5), rgba(blueviolet, .5)),
    url(../img/wallhaven-731kdv.jpg);
    background-size: cover;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    &__h1{
        align-self: end;
        font-family: var(--font-primary);
        margin-bottom: 2rem;
    }

    &__btn{
        //margin-top: 2rem;
        justify-self: center;
        align-self: center;
    }
}

//TRATAMENTOS
.header-2{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 1fr;

    background-image: linear-gradient(rgba(blueviolet, .7), rgba(blueviolet, .7)),
    url(../img/wallhaven-73wpro.jpg);
    background-size: cover;

    &__h2{
    align-self: center;
    justify-self: center;

    margin-top: 6rem;
    font-weight: 600;
    }
}