.header{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;


    background-image: linear-gradient(rgba(blueviolet, .5), rgba(blueviolet, .5)),
    url(../img/wallhaven-731kdv.jpg);
    background-size: cover;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr min-content 1fr;

    &__h1{
        align-self: end;
        font-family: var(--font-primary);
        margin-bottom: 2rem;
    }

    &__btn{
        justify-self: center;
        align-self: center;
    }
}

.header-2{
    grid-row: 2 / 3;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 1fr;

    background-image: linear-gradient(rgba(blueviolet, .7), rgba(blueviolet, .7)),
    url(../img/wallhaven-73wpro.jpg);
    background-size: cover;

    &__h2{
    align-self: center;
    justify-self: center;

    margin-top: 6rem;
    font-weight: 600;
    }
}

.header-3{
    grid-row: 2/3;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 1fr;

    background-image: linear-gradient(rgba(blueviolet, .7), rgba(blueviolet, .7)),
    url(../img/depilacao_a_laser.jpg);
    background-size: cover;

    &__h2{
        align-self: center;
        justify-self: center;
    
        margin-top: 6rem;
        font-weight: 600;
        }
}

.heading{
    padding: 6rem 0;
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    text-align: center;

    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    &__p{
        font-size: 1.8rem;
        color: var(--gray-1);
        font-family: var(--font-heading);
        margin-top: 3rem;
        text-transform: uppercase;
    }

}