.popup{
    grid-column: full-start / full-end;

    display: none;
    background-color: rgba(14, 14, 14, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;

    &__heading{
        color: var(--gray-1);
        font-size: 4rem;
    }

    &__content{
        display: grid;
        grid-template-columns: 60rem 20rem;
        align-items: center;
        justify-items: center;

        margin: 42rem auto;
        width: 80rem;
        height: 40rem;
        background-image: url(../img/darkimg.jpg);
        background-position: center center;

        &--close{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
            align-self: start;
            margin-right: 2rem;
        }

        &--btn{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }
}