.services{
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    display: grid;
    grid-row-gap: 3rem;
  
    margin: 12rem 0;

    &__servicos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    &__img{
        grid-column: 1 / 2;

        border: 1px solid white;
        height: 30rem;
        width: 35rem;
        justify-self: end;

        box-shadow: .5rem .5rem 1rem rgba(black, .1);
    }

    &__text{
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        padding: 3rem;
        width: 50vw;

        box-shadow: .5rem .5rem 1rem rgba(black, .1);

        &--heading{
            color: black;
            font-family: var(--font-primary);
            font-weight: 400;
        }

    }

    &__btn{
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        align-self: end;
        justify-self: start;

        margin-left: 3rem;
    }
}