.tratamentos{
    padding: 6rem 0;
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    text-align: center;

    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    &__p{
        font-size: 1.8rem;
        color: var(--gray-1);
        font-family: var(--font-heading);
        margin-top: 3rem;
        text-transform: uppercase;
    }

}

.depilacao{
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    margin: 9rem 0;

    &__description{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        align-items: center;
        
    }

    &__description--text{
        box-shadow: .5rem .5rem 1rem rgba(black, .1);
        padding: 2rem 5rem;
        margin: 3rem 0;

        grid-column: 2 / 3;
    }

    &__img{
        width: 35rem;
        margin: 0 auto;    
    }

    &__btn{
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        align-self: start;
    }
}