@import "components";
@import "typo";
@import "base";
@import "heading";
@import "navbar";
@import "footer";
@import "features";
@import "gallery";
@import "tratamentos";
@import "map";
@import "agendamento";
@import "contato";
@import "animations";
@import "popups";
@import "services";